@page
@model GigWeb.Pages.Invitations.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Invitation[0].event_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invitation[0].UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invitation[0].PurchaseDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invitation[0].Sha512key)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Invitation) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.event_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sha512key)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.invitation_id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.invitation_id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.invitation_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
